h1 {
	font-size: 32px;
	text-align: center;
}

#box {
	position: relative;
	top: 15px;
	height: 688px;
	width: 688px;
	outline: 2px solid black;
	border: none;
	font-size: 0;
	margin: auto;
	padding: 0;
}

.grid {
	margin: 0;
	padding: 0;
	border: none;
	outline: 1px solid black;
	display: inline-block;
}

.wrapper {
	text-align: center;
}